*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

  
:root{
    --primary-color : #055a05;
    --second-color : #f4a261;
    --accent1-color : #264656;
    --accent2-color : #e9c45a;
    --heding-font : "times new Roman","Georgia",serif;
    --body-font : Arial, Helvetica, sans-Serif;
}

header{
    background-color: var(--primary-color);
    color: var(--second-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items :center;
    padding: 10px 16px;
   
}

header li a{
    color: #FFFFFF;
    font-size: 1.2rem;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,main,footer{
    width: 840px;
    margin: 0 auto;
}

h1,h2 {
    font-family: var(--heding-font);
    color: var(--primary-color);
}

nav,section,p,article{
    margin: 16px;
    padding: 8px;
}
.hero{
    position: relative;
}

nav a{
    text-decoration: none; 
    border: 2px solid #999999;
    padding: 10px 25px; 
   
   
}
nav ul{
  
    display: flex;
    justify-content: flex-end; 
    list-style: none;
    gap: 0px; 
    margin: 0;
    padding: 0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}
.hero article{
    position: absolute;
    top: 303px;
    width: 95%;
    opacity: 0.7;
    background-color: var(--accent1-color);
}
.hero article img{
    float: right;
    width: 125px;
}
.hero article p{
    color: #fff;
}
section h2{
   background-color: var(--accent1-color); 
   text-align: center;
   color: #fff;
}
/* zone history */
.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 24px;
    align-items: center; 
}

.history-content img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}


.history-content p {
    font-size: 0.95rem;
    color: var(--accent1-color);
}

/* zone adventure*/
.adventures {
    margin: 40px 0;
    padding: 20px;
}

.adventures h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: var(--heding-font);
    margin-bottom: 24px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;          
}

.adventure-grid figure {
    margin: 0; 
}

/* style imagen */
.adventure-grid img {
    width: 100%;
    height: 200px;            
    object-fit: cover;         
    border-radius: 8px;       
    display: block;
}


.adventure-grid figcaption {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--accent1-color);
    text-align: center;       
}


/* footer  */
.socialmedia {
    display: flex;       
    gap: 16px;       
    grid-column: 2;
    justify-self: end; 
}


.socialmedia a{
    text-decoration: none;
    border: none;            
    padding: 0;
    margin: 0;
}
.socialmedia img{
    width: 50px;
    height: 50px;

}


footer{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items :center;
    padding: 10px 16px;
}
footer p{
    color: var(--accent1-color);
}